/* CUSTOM-PROPS */
:root {
  --orange: #ff7e1b;
  --gray: #69707d;
  --black: #1d2026;
  --white: #fff;

  --shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

/* FONT-FACE  */
@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
  url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
  url("../fonts/KumbhSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: var(--gray);
  font-family: "Kumbh Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* FOCUS-STYLES  */
*:focus {
  outline: 3px dotted var(--orange);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1150px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}

/* BUTTON  */
.button {
  padding-top: 18px;
  padding-bottom: 13px;
  display: inline-block;
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  line-height: auto;
  text-align: center;
  border-radius: 10px;
}

.button--block {
  width: 100%;
}


/* SITE NAVIGATOR  */
.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;
}

.sitenav__link::after {
  content: "";
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.sitenav__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 26px;
  color: var(--gray);
}

.sitenav__link:hover {
  color: var(--black);
}

.sitenav__link:hover.sitenav__link::after {
  background-color: var(--orange);
}


/* SHOPPING-CARD  */
.shopping-card {
  display: none;
  position: absolute;
  top: 92px;
  right: -56px;
  z-index: 1000;
  min-height: 256px;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.shopping-card--open {
  display: block;
}

.shopping-card__header {
  padding: 24px 24px 19px 24px;
  border-bottom: 1px solid #e4e9f2;
}

.shopping-card__title {
  font-size: 17px;
  margin: 0;
  color: var(--black);
}

.shopping-card__list-wrapper {
  background-color: var(--white);
  padding: 24px 24px 32px 24px;
}

.shopping-card__list-wrapper--close {
  display: none;
}

.shopping-card__msg {
  position: absolute;
  top: 50%;
  left: calc(50% - 71px);
  z-index: -1;
  font-weight: 700;
  white-space: nowrap;
}

.shopping-card__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.shopping-card__item--close {
  display: none;
}

.shopping-card__item:not(:last-child) {
  margin-bottom: 20px;
}

.shopping-card__item-inner {
  display: flex;
  align-items: center;
}

.shopping-card__item-img {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.shopping-card__item-info {
  flex-shrink: 0;
  margin-right: 17px;
  margin-left: 17px;
}

.shopping-card__item-pricing-wrappper * {
  display: inline-block;
}

.shopping-card__item-pricing {
  color: var(--black);
  font-weight: 700;
  margin-left: 6px;
}

.shopping-card__item-button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.shopping-card__item-button:hover {
  opacity: 0.5;
}

.shopping-card__item-button-icon {
  display: block;
  width: 14px;
  height: 16px;
  object-fit: contain;
}


/* SITE-HEADER  */
.site-header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 34px;
  border-bottom: 1px solid #e4e9f2;
}

.site-header__logo {
  margin-right: 57px;
}

.logo {
  display: flex;
  flex-shrink: 0;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 138px;
  height: 20px;
  object-fit: contain;
}

.cart-auth-wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}


.site-header__cart {
  margin-right: 40px;
}

.cart {
  display: flex;
  position: relative;
  border: none;
  background-color: transparent;
  color: var(--gray);
  cursor: pointer;
}

.cart:hover {
  color: var(--black);
}

.cart:active {
  opacity: 0.6;
}

.cart__count {
  position: absolute;
  top: -6px;
  left: 15px;
  padding-right: 8px;
  padding-left: 6px;
  padding-top: 3px;
  border-radius: 6.5px;
  color: white;
  background-color: var(--orange);
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.auth {
  display: flex;
  flex-shrink: 0;
  border-radius: 50%;
}

.auth:hover .auth__img {
  border-color: var(--orange);
}

.auth:active {
  opacity: 0.6;
}

.auth__img {
  border: 2px solid transparent;
  border-radius: 50%;
}